{% set company_name, company_url = frappe.db.get_value('Etqanone Settings Eqo', 'Etqanone Settings Eqo', ['company_name', 'company_url']) %}
{% if not company_name %}
<p class="text-muted"> Business made simple by <a href="https://etqansofts.com/" target="_blank" style="color: rgb(13, 236, 162);"> EtqanSoft </a>, Developed by <a href="https://greycube.in/" target="_blank" style="color: #1350f7;">GreyCube</a></p>
{% else %}
<p class="text-muted"> Business made simple by <a href={{company_url}} target="_blank" style="color: rgb(13, 236, 162);"> {{company_name}} </a>, Developed by <a href="https://greycube.in/" target="_blank" style="color: #1350f7;">GreyCube</a></p>
{% endif %}